/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    margin: auto;
    width: 80%;
    background-color: #f4f4f4;
    font-family: 'Atkinson Hyperlegible';font-size: 22px;
}

/* navbar */
header {
    margin-bottom: 25px;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.navbar li {
    display: inline-block;
}

ul.navbar li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    background-color: #eee;
}

ul.navbar li a:hover {
    background-color: #ccc;
}

ul.navbar .right-item {
    float: inline-end;
}

/* description lists */

dt {
    font-weight: bold;
}

dd {
    margin: 0;
    padding: 0 0 0.5em 0;
}
